---
layout: default
nofooter: true
---

<h3>Contact</h3>

<p>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
</p>
{% if site.github_username %}
<p>
  GitHub: 
  <a href="https://github.com/{{ site.github_username }}">@{{ site.github_username }}</a>
  {% if site.github_username %}
  or <a href="https://github.com/{{ site.work_github_username }}">@{{ site.work_github_username }}</a>
  {% endif %}
</p>
{% endif %}
{% if site.linkedin %}
<p>
  <a href="{{ site.linkedin }}">LinkedIn</a>
</p>
{% endif %}

<h3>Read</h3>
<ul>
  {% for post in site.posts %}
  <li style="margin-bottom: 0.75em;">
    <a style="text-decoration: none" href="{{ post.url | prepend: site.baseurl }}">
      <small><time style="font-family: monospace">{{ post.date | date: "%b %-d, %Y" }}</time></small>
    </a>
    <a href="{{ post.url | prepend: site.baseurl }}" style="display: block; margin-left: 0.5em">
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>
