---
layout: default
nofooter: true
---

<h3>Contact</h3>
<ul>
  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  {% if site.github_username %}
  <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
  {% endif %}
  {% if site.stackoverflow %}
  <li><a href="{{ site.stackoverflow }}">Stack Overflow</a></li>
  {% endif %}
</ul>

<h3>Read</h3>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<p style="text-align: center">
  <small>subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></small>
</p>
