<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list" itemscope itemtype="http://schema.org/Person">
          <li class="contact-list__avatar">
            <img itemprop="image" src="https://secure.gravatar.com/avatar/a2b36fe61081d63aa781f4ab7a6222d3.png?s=200" alt="Austin Pray">
          </li>
          <li itemprop="name">Austin Pray</li>
          <li itemprop="jobTitle">Full Stack Developer</li>
          <li itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://corelaunch.com"><span itemprop="name">CoreLaunch LLC</span></a>
          </li>
          <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Dallas</span>, 
            <span itemprop="addressRegion">TX</span>
          </li>
          <li itemprop="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li itemprop="telephone">(903) 345-5550</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="ion-social-octocat"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="ion-social-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.gplus_username %}
          <li>
            <a href="https://plus.google.com/{{ site.gplus_username }}" rel="publisher">
              <i class="ion-social-googleplus"></i>
              <span class="username">{{ site.gplus_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.stackoverflow %}
          <li>
            <a href="{{ site.stackoverflow }}">
              <i class="ion-link"></i>
              <span class="username">Stack Overflow</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

{% include scripts.html %}
