<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list" itemscope itemtype="http://data-vocabulary.org/Person">
          <li itemprop="name">Austin Pray</li>
          <li itemprop="role">Full Stack Developer</li>
          <li><a itemprop="affiliation" href="http://corelaunch.com">CoreLaunch LLC</a></li>
          <li itemprop="address" itemscope>
            <span itemprop="locality">Dallas</span>, 
            <span itemprop="region">TX</span>
          </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="ion-social-octocat"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="ion-social-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
