<script>
  var currentDate = new Date();
  var currentMonth = currentDate.getMonth();
  var currentDay = currentDate.getDate();
  if (currentMonth === 4 && currentDay === 21) {
    var bday = document.createElement('div');
    bday.textContent = "It is Austin Pray's Birthday Today";
    bday.className = "birthday";
    document.body.insertBefore(bday, document.body.firstChild);
  }
</script>
{% if page.math %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
 "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
{% for script in page.scripts %}
<script src="{{ site.scripts[script] | prepend: site.baseurl }}"></script>
{% endfor %}
