{{ define "main" }}
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name">{{ .Title }}</h1>
    <p style="font-family: monospace; font-size: 80%">
         <time itemprop="datePublished">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
       • <a href="https://github.com/austinpray"><span itemprop="author">Austin Pray</span></a>
       • <a href="https://github.com/austinpray/austinpray.com/blob/gh-pages/content{{ .File.Path }}">View Sauce</a>
       • <a href="https://github.com/austinpray/austinpray.com/edit/gh-pages/content{{ .File.Path }}">Edit</a>
    </p>
  </header>

  <article style="overflow-wrap: break-word" itemprop="articleBody">
    {{ .Content }}
  </article>
</div>
{{ end }}
