

@import "base";
@import "skeleton";

/* Site styles CuSt0m Pr0C0D3d by Austin Pray */

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Variables/COlors
================================================== */

/* $black: #00031C; */

$green: #b7d4b5;
$grey:	#777;
$dblue: #85A9E0;
$vblue: #C0DBFC;
$vgreen: #97B02A;
$dgreen: #13241E;
$maroon: #4C1B0C;

$black: #13241E;

/* #Site Styles
================================================== */



html, body {
	color: $black;
	font-family: 'Gentium Book Basic', serif;
	
	
	
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 700;
}

h3 {
	font-weight: 300;
}


.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}


section.oven-mitt, nav.oven-mitt {
		padding: (4*(1.618em)) 0;
		article {
		
	}
	p.lead {
		
	}
}

/* #Page Styles
================================================== */

.floater {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 4;
	
}

.fnote {
	
	a {
		text-decoration: none;
		color: $grey;
		color: rgba(255, 255, 255, .4);
	}
	font-size: 16px;
	line-height: 1;
}

$parallax-h: 800px;
.parallax {
	margin: 0;
    height: $parallax-h;
    position:absolute;
    top:0;left:0;
    width:100%;
}

.pLax {
	color: white;
    position: relative;
    width: 100% !important;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    .container {
	    position: relative;
		
		z-index: 4;
    }
}


#header {
	

	min-height: 450px;
	
	background-color: $green;
	
	header {
		position: relative;
		
		z-index: 4;
		
		color: $dgreen;
		padding: (4*(1.618em)) 0;
		text-align: center;
		text-transform: uppercase;
		h1 {
			
		}
	}
	
	.parallax {
	background: url('../images/header_bg.jpg') 50% 0 no-repeat fixed;
	background-position-y: -300px;
	

	}
	
}

#work {

	img {
		max-width: 100%;
	}	

	.parallax {
	background: url('../images/fish_bg.jpg') 50% 0 no-repeat fixed;
	
	height: 1200px

	}
	
}

.picto {
	font-family: 'modern_pictograms_proregular';
}

.big-icon {
	font-size: 100px;
	text-align: center;
	line-height: 1;
}



#about {
	.big-icon {
		color: $grey;
	}
}


#logo {
	-webkit-transition: all .223s ease-in-out;
	-moz-transition: 	all .223s ease-in-out;
	-ms-transition: 	all .223s ease-in-out;
	-o-transition: 		all .223s ease-in-out;
	transition: 		all .223s ease-in-out;
	opacity: 0;
	position: absolute;
	top:0;
	left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 700;
}

.stuck {
	background: white;
	position: fixed;
	z-index: 10;
	top:0;
	height: 100px;
	width: 100%;
	#logo {
		padding-left:10px;
		opacity: 1;
	}
}

.sticky-wrapper {
	position: relative;
	background: white;
}

.vignette {
	visibility: hidden;
	display: none;
}

nav {
		
	height: 100px;
	line-height: 100px;
	background: white;
	color: $black;
	text-align: center;
	ul {
		margin: 0;
		
		
		li {
			text-transform: uppercase;
			font-family: 'Open Sans', sans-serif;
			font-size: 21px;
			font-weight: 300;
			
			
			display: inline;
			margin-bottom: 0;
			line-height: 100px;
			margin-right:1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	#menu-button {
		
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

#work {
	background: $vgreen;
	color: white;
	header { 
		h1 {
			text-align: center;
		}
	}
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		body {
			
		}
		
		#header {
			
			hgroup {
				
				padding: (6*(1.618em)) 0;
			}
			
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
	
		
		.stuck{
			height: 64px;
			#logo {
				
				
			}
		}
		.sticky-wrapper {
			height: 64px;
		}
		nav {
			
			width: 100%;
			height: 64px;
			line-height: 64px;
			ul {
				z-index: 10;
				position: absolute;
				
				right: 0;
				margin-top: 64px;
				padding: 1em 0;
				
				width: 300px;
				background: white;
				li {
					display: block;
					line-height: 36px;
					&:last-child {
						/* padding-right: 100px; */
					}
				}
			}
			
			#menu-button {
				position: absolute;
				right: 20px;
				top:0;
				line-height: 64px;
				display: block;
				visibility: visible;
				opacity: 1;
				font-size: 50px;
				text-decoration: none;
			}
			
		}
		
		
		#header {
			background-size: auto 150%;
			hgroup {
				padding: (5*(1.618em)) 0;
			}
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#header {
			
			hgroup {
				padding: (3*(1.618em)) 0;
			}
		}
		
	}
/* #Font-Face
================================================== */
@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('modernpictogramspro_2-webfont.eot');
    src: url('modernpictogramspro_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('modernpictogramspro_2-webfont.woff') format('woff'),
         url('modernpictogramspro_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

